

.menu-book-your-room
{
    // @extend .nav__item;
     display:            block;
        box-sizing:         border-box;
        color:              $color-white;
        @extend %Intro;
        width:              100%;
        padding-left:       2em;
        padding-right:      2em;
        padding-top:        1em;
        padding-bottom:     1em;

        line-height:1.6em;
    

    z-index: 100;
    background-color: $color-calltoaction;
    width: 100%;
    // top: -40px;
    position: relative;
    @include breakpoint(M) 
    {
        display: inline-block;
        font-size:              1vw;
    }
    
    // padding-left:
    &:before
    {
        @extend %pseudo;
        top: 0;
        height:             100%;
        background-color: $color-calltoaction;
        width:              900%;
        left:               -900%;
    }
}


.booking-bar
{
    background-color: $color-white;
    // margin-right: 5px;
    width:          25%;
    margin-left:    -5px; //magic spacing
    max-width:      290px;
    min-width:      200px;
    display: none;
    position: relative;
    top: -42px;
    z-index: 201;
    right: -5px;

   @include breakpoint(M) 
   {
            // display: none;
        display: inline-block;
        
    }

    object
    {
        width: 100% !important;
    }

    

    h3, 
    h4
    {
        text-align:             center;
        padding:                1vw;
        background-color:       $color-darkgrey;

    }

    h4
    {
        background-color:       $color-lightgrey;

    }

    p
    {
        padding-left:           1em;
        padding-right:          1em;
    }

    ul
    {
        list-style:             none;
        padding-left:           1em;
    }

    li
    {
        margin-bottom:          0.5em;
        text-align:             left;
    }

    a,
    a:visited
    {
        color:                  $color-link;
    }

    .intro
    {
        display:                inline-block;
        margin-top:             0; 
        margin-bottom:          0;
        @extend %Intro;
    }
}

.booking-bar__link-title
{
    color: $color-headercopy;
}


.booking__label
{
    display:                    block;
    margin-top:                 0.7em;
    margin-bottom:              0.7em;
}



.booking__label,
.select2-container,
{
    @extend %Intro;
    font-size:                  1.2vw;
    color:          $color-headercopy;
    min-width:                  52px;
    width:                      4.5vw;
}













.select2-selection.select2-selection--single
{
    background-color:   $color-select2gray !important;
    border-color: $color-select2gray !important;
    border: none !important;
    border-radius: 2px !important;
}

.select2-container .select2-selection .select2-selection__rendered
{
    color:          $color-headercopy !important;
    
}
#ad_mm_yyyy + .select2
{
    width: 8.5vw !important;
    min-width: 95px !important;
    margin-left: 1em;
}

.select2-selection__arrow
{
    display: none !important;
}












//arrows
$arrow-size: 8px;

%arrow_box {
    position: relative;
    // background: $color-darkgrey;
    // border: 2px solid $color-darkgrey;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    margin-right: 10px;
    // width: 2em;
    // height: 2em;
    font-size: 0;
    
    &:after, 
    &:before 
    {
        right: 0%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-radius: 3px;
    }


    &:after 
    {
        border-color: rgba(213, 0, 0, 0);
        border-right-color: $color-darkgrey;
        border-width: $arrow-size;
        margin-top: -$arrow-size;
    }
    &:before 
    {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: $color-darkgrey;
        border-width: calc( $arrow-size + 3px);
        margin-top: calc( -$arrow-size - 3px);
    }


}



.arrow_box--left
{
    @extend %arrow_box;
}

.arrow_box--right
{
    @extend %arrow_box;
    // border: transparent solid;

    &:after,
    &:before
    {
        right:                      auto;
        left:                       0;
        border-right-color:         rgba(194, 225, 245, 0);
        border-left-color:          $color-darkgrey;
    }
    // &:after,
}




.booking_submission-row
{
    position: relative;
        width: calc( 100% + 1.2vw );
        left: -1.2vw;
        text-align:             center;
        padding:                1vw;
        background-color:       $color-darkgrey;
        box-sizing: border-box;
        margin-top: 10px;
}

$icon-now-size: 5.5em;
.booking__button
{
    @extend %Intro;
    border: none;
    background-color:       transparent;
    position: relative;
    // position: relative;
    vertical-align: middle;
    font-size: 1.2em;
    padding-right: 4.5em;
        margin-left: 40px;
    z-index: $z-page;
    &:focus
    {
        outline: none;
    }


}

.icon-now
{
    padding-top: $icon-now-size;
    width: $icon-now-size;
    height: $icon-now-size;
    margin-left: -$icon-now-size;
    vertical-align: middle;
    display: inline-block;
        position: absolute;
        top: -1em;

    // margin-top: -1.5em;
    // margin-bottom: -3.5em;
    // margin-top: calc( - $icon-now-size / 4 );
    // margin-bottom: calc( - $icon-now-size / 2)
}

.booking_submission-row .arrow_box--left
{
    position:               absolute;
    right:                  2vw;
    top:                    23px;
    
    &:before, 
    &:after
    {
        border-right-color: $color-lightgrey;
        // border-left-color:         rgba(194, 225, 245, 0);
        
    }
}
.booking_submission-row .arrow_box--right
{
    position: absolute;
    top:    23px;
    left: 1vw;
    z-index: $z-page;
    &:before, 
    &:after
    {
        border-right-color:         rgba(194, 225, 245, 0);
        border-left-color: $color-lightgrey;
        
    }
}
