


// NAVBAR SLIDE FUNCTIONS
// 


html.navbar-open
{
    height:                 100%;
    display:                block;
}

//nav over the page positioning
.main-navigation
{

    @include breakpoint( M ) 
    {
        position:               relative;
        height:                 auto;
        // margin-top:             1em;
        width:                  100%;
        display:                block;
        margin:                 0 auto;
        margin-bottom:          0em;
        // text-align: right;
    }

    @include breakpoint(L) 
    {
        // margin-top: 1.5em;
        //content
    }
}









//basic nav hidden contains all other navs
.navbar 
{
    letter-spacing:         4px;
    /*Collapsed */
    max-width:              250px;
    // width:                  ;
    overflow:               hidden;
    position:               fixed;
    top:                    0;
    left:                   -100%;
    height:                 100%;
    transition:             all 0.3s ease;
    background-color:       $color-white;
    top:                    62px;

    @include breakpoint(M) 
    {
        max-width:          100%;
        display: inline-block;
        margin: 0 auto;
        position:           relative;
        left:               auto;
        z-index:            $z-aboveground;
        overflow:           visible;
        height:             auto;
        line-height:        1.2em;
        top: 0;
    } 



    &.open 
    {
        // width:              50%; 
        left:                   0;
        z-index:                $z-aboveground;
        overflow-y:             scroll;
    }
}


//mask overlay
.nav-mask
{
    display: none;
    width:          100%;
    height:         calc( 100vh - 62px );
    position:       fixed;
    background-color: #000;
    top:            0;
    left:           0;
    z-index:        $z-hell;
    opacity:        0;

    &.open 
    {
        display:        block;
        z-index:        $z-aboveground - 1;
        opacity:        0.3;
        top:                    62px;

        @include breakpoint(M) 
        {
            top:            0;
            display:        none;
        }

        

    }
}






//menus individually
.navbar__nav
{
    padding-left: 0;
    margin-top: 0;
    // textalign: center;
    // 
    // text-align: right;
    @include breakpoint(M) 
    {
        background-color: $color-white;
        margin-bottom: 0;
    }
}


.nav__item
{
    display:                block;
    list-style:             none;
    background-color:       $color-menu;
    font-size:              14px;

    &:hover
    {
        background-color:       $color-greenblue;

    }
    font-size:              12px;

    @include breakpoint(M) 
    {
        display: inline-block;
            // font-size:              1.1vw;

    }
    @include breakpoint(L)
    {
        font-size:              14px;
        
    } 

    a
    {
        display:            block;
        box-sizing:         border-box;
        color:              $color-white;
        @extend %Intro;
        width:              100%;
        padding-left:       2em;
        padding-right:      2em;
        padding-top:        1em;
        padding-bottom:     1em;
    }
}



%pseudo
{
    content:            '';
    display:            block;
    position:           absolute;
    width: 100%;
    height: 10px;
}


//main menu UL
.navbar--main   
{
    margin-bottom:          5px;  

    // .navbar__nar
    // {
    //     display: inline-block;
    // }

 // &:before
 //        {
 //            display: none;
 //        }
    @include breakpoint(M) 
    {
        // padding-left: 7px;
        //  &:before
        // {
        //     @extend %pseudo;
        //     position: relative;
        //     background-color: none;
            
        //     width: 25.5vw;
        //     display: inline-block;
        //     // height:             100%;
        //     // // background-color: $color-calltoaction;
        //     // width:              900%;
        //     // left:               -900%;
        // }


        display:            inline-block;
        margin:             0 auto;
        // width:              80%;
        // display: flex;
        // justify-content: flex-end;
        // position: relative;

        .nav__item
        {
            position: relative;
            // &:after
            // {
            //     content:                '';
            //     width:                  6px;
            //     height:                 100%;
            //     display:                block;
            //     position:               absolute;
            //     top:                    0px;
            //     right:                  -3px;
            //     background-color:       $color-white;
            // }
            &.big-fish a:hover 
            {
                cursor: default;
            }
        }
        // .nav__item:first-child
        // {
        //     // background-color: $color-calltoaction;
        //     // padding-left:
        //     &:before
        //     {
        //         @extend %pseudo;
        //         position: relative;
        //         background-color: none;

        //         width: 50px;
        //         // height:             100%;
        //         // // background-color: $color-calltoaction;
        //         // width:              900%;
        //         // left:               -900%;
        //     }
        // }

        .nav__item:last-child:after
        {
            top: 0;
            @extend %pseudo;
            height:             100%;
            background-color: $color-menu;
            width:              900%;
            right:               -900%;
        }
        // top: 6vh;
        // right: 0;
    }
}


//max booking in nav bar
.main-nav__maxbooking
{
       @include breakpoint(M) {
        display: none;
      }
}





// languages menu

.navbar--languages__ul 
{
    padding-bottom:          62px;

    .lang-item
    { 
        background-color:               $color-calltoaction;

        &:hover
        {
            background-color:               $color-calltoaction--hover;
        }
    }

    @include breakpoint(M) 
    {
        display: none;
        // position:                       absolute;
        // top:                            -160px ; //height of the banner
        // right:                          0;
        // background-color:               $color-menu;
        // font-size:                      0;//for ghost spacing/ margins

        // .lang-item
        // {
        //     background-color:           $color-menu;
        //     font-size:                  12px;
        //     margin-bottom:              0;
        //     position:                   relative;

        //     a
        //     {
        //         letter-spacing:         3px;
        //         padding-left:           10px;
        //         padding-right:          10px;
        //         padding-top:            5px;
        //         padding-bottom:         5px;
        //     }

        //     &.current-lang:after
        //     {
        //         content:                    '';
        //         display:                    inline-block;
        //         width:                      100%;
        //         height:                     3px;
        //         position:                   absolute;
        //         bottom:                     0px;
        //         background-color:           $color-white;
        //     }
        // }
    }
}








//contact toggler
.contact-toggle
{
    @include breakpoint(M) 
    {
        //okay to use important here as we ALWAYS want it hidden
        //and this overrides other more specific link based stylings
        //in a clean fashion
        display: none !important;

    }
}

// main contact type navigation to go in sidebar
.navbar--contact__ul
{
    // display: none;
    @include breakpoint(M) {
        display: none;
        // position:               absolute;
        // top:                    -160px;
        // background-color:       transparent;
    }

    .nav__item
    { 
        background-color:           $color-white;
        a
        {
            color:                      $color-blue;
            
            .navbar--contact__title
            {
                color:                      $color-headercopy;
            }
        }
        
        @include breakpoint(StoM) {
            //only for small screens, otherwise lets default menu
        }
        // @include breakpoint(M) {
        //     background-color:       transparent;
            
        //     a
        //     {
        //         color:  $color-white;
        //     }
        // }

    }
}
















//banner navigation links

.navbar--languages__ul--top
{
    display:                            none;


    @include breakpoint(M) 
    {
        display:                        block;
        // position:                       absolute;
        top:                            -0px ; //height of the banner
        right:                          0;
        background-color:               $color-menu;
        font-size:                      0;//for ghost spacing/ margins

        .lang-item
        {
            background-color:           $color-menu;
            font-size:                  12px;
            margin-bottom:              0;
            position:                   relative;

            a
            {
                letter-spacing:         3px;
                padding-left:           10px;
                padding-right:          10px;
                padding-top:            5px;
                padding-bottom:         5px;
            }

            &.current-lang:after
            {
                content:                    '';
                display:                    inline-block;
                width:                      100%;
                height:                     3px;
                position:                   absolute;
                bottom:                     0px;
                background-color:           $color-white;
            }
        }
    }
}








// top contact form
// {
//     display: inline-block;
//     float: right;
// }
.navbar--contact--top,
.navbar--language--top
{
    display:                inline-block;
    vertical-align:         top;
    float:                  right;

   
}
.navbar--contact--top__ul 
{
    display:                none;
    margin-top:             5px;
    margin-bottom:          0;

    @include breakpoint(M) {
        display:                block;
        // position:               absolute;
        top:                    0px;
        // background-color:       transparent;
    }

    .nav__item
    {
        background-color:       transparent;
        margin-bottom:          0;

        a
        {
            @extend %Copy;
            font-weight:            200;
            padding: 0;
            padding-right:          1em;
            padding-left:           1em;
            position:               relative;
            
            &:after
            {
                content:            '.';
                display:            block;
                position:           absolute;
                right:              -0.2em;
                top:                -0.2em;
            }

        }

        &:last-child a:after
        {
            display:            none;
        }
    }
    // { 
    //         background-color:           $color-white;
    //         a
    //         {
    //             color:                      $color-blue;
                
    //         }
        
    //     @include breakpoint(StoM) {
    //             .navbar--contact__title
    //             {
    //                 color:                      $color-headercopy;
    //             }
    //         //only for small screens, otherwise lets default menu
    //     }
    //     @include breakpoint(M) {
    //         background-color:       transparent;
            
    //         a
    //         {
    //             color:  $color-white;
    //         }
    //     }

    // }
}


// .booking--smallscreen
// {
//     padding-left: 0;
// }


// booking link
// .booking-link
// {
//     background-color: $color-calltoaction;
// }


