


// NAVBAR SLIDE FUNCTIONS
// 


html.navbar-open
{
    height:                 100%;
    display:                block;
}

//nav over the page positioning
.main-navigation
{

    @include breakpoint( M ) 
    {
        position: relative;
        height:auto;
        margin-top: 10px;
    }
}









//basic nav hidden contains all other navs
.navbar 
{
    letter-spacing:         4px;
    /*Collapsed */
    max-width:              250px;

    @include breakpoint(M) 
    {
        max-width:          100%;
        position:           relative;
        left:               auto;
        z-index:            $z-aboveground;
        overflow:           visible;
        height:             auto;
        line-height:        1.2em;

    } 

    // width:                  ;
    overflow:               hidden;
    position:               fixed;
    top:                    0;
    left:                   -100%;
    height:                 100%;
    transition:             all 0.3s ease;
    background-color:       $color-white;

    &.open 
    {
        // width:              50%; 
        left:                   0;
        z-index:                $z-aboveground;
        // overflow-y:         scroll;
    }
}


//mask overlay
.nav-mask
{
    display: none;
    width:          100%;
    height:         100vh;
    position:       fixed;
    background-color: #000;
    top:            0;
    left:           0;
    z-index:        $z-hell;
    opacity:        0;

    &.open 
    {
        display:        block;
        z-index:        $z-aboveground - 1;
        opacity:        0.3;
        

    }
}






//menus individually
.navbar__nav
{
    padding-left: 0;
    margin-top: 0;
    // textalign: center;
    // 
    @include breakpoint(M) 
    {
        background-color: $color-white;
        margin-bottom: 0;
    }
}


.nav__item
{
    display:                block;
    list-style:             none;

    background-color:       $color-menu;
    margin-bottom:          5px;  


    @include breakpoint(M) 
    {
        display: inline-block;
    }

    a
    {
        display:            block;
        box-sizing:         border-box;
        color:              $color-white;
        @extend %Intro;
        width:              100%;
        padding-left:       30px;
        padding-right:      30px;
        padding-top:        10px;
        padding-bottom:     10px;
    }
}




//main menu
.navbar--main   
{
    @include breakpoint(M) 
    {
        position: relative;
        // top: 6vh;
        // right: 0;
    }
}


//max booking in nav bar
.main-nav__maxbooking
{
       @include breakpoint(M) {
        display: none;
      }
}



// languages menu

.navbar--languages__ul 
{
    
    .lang-item
    { 
        background-color:               $color-calltoaction;
    }

    @include breakpoint(M) 
    {
        display: none;
        // position:                       absolute;
        // top:                            -160px ; //height of the banner
        // right:                          0;
        // background-color:               $color-menu;
        // font-size:                      0;//for ghost spacing/ margins

        // .lang-item
        // {
        //     background-color:           $color-menu;
        //     font-size:                  12px;
        //     margin-bottom:              0;
        //     position:                   relative;

        //     a
        //     {
        //         letter-spacing:         3px;
        //         padding-left:           10px;
        //         padding-right:          10px;
        //         padding-top:            5px;
        //         padding-bottom:         5px;
        //     }

        //     &.current-lang:after
        //     {
        //         content:                    '';
        //         display:                    inline-block;
        //         width:                      100%;
        //         height:                     3px;
        //         position:                   absolute;
        //         bottom:                     0px;
        //         background-color:           $color-white;
        //     }
        // }
    }
}








//contact toggler
.contact-toggle
{
    @include breakpoint(M) 
    {
        //okay to use important here as we ALWAYS want it hidden
        //and this overrides other more specific link based stylings
        //in a clean fashion
        display: none !important;

    }
}

// main contact type navigation to go in sidebar
.navbar--contact__ul
{
    // display: none;
    @include breakpoint(M) {
        display: none;
        // position:               absolute;
        // top:                    -160px;
        // background-color:       transparent;
    }

    .nav__item
    { 
        background-color:           $color-white;
        a
        {
            color:                      $color-blue;
            
            .navbar--contact__title
            {
                color:                      $color-headercopy;
            }
        }
        
        @include breakpoint(StoM) {
            //only for small screens, otherwise lets default menu
        }
        // @include breakpoint(M) {
        //     background-color:       transparent;
            
        //     a
        //     {
        //         color:  $color-white;
        //     }
        // }

    }
}
















//banner navigation links

.navbar--languages__ul--top
{
    display:                            none;


    @include breakpoint(M) 
    {
        display:                        block;
        // position:                       absolute;
        top:                            -0px ; //height of the banner
        right:                          0;
        background-color:               $color-menu;
        font-size:                      0;//for ghost spacing/ margins

        .lang-item
        {
            background-color:           $color-menu;
            font-size:                  12px;
            margin-bottom:              0;
            position:                   relative;

            a
            {
                letter-spacing:         3px;
                padding-left:           10px;
                padding-right:          10px;
                padding-top:            5px;
                padding-bottom:         5px;
            }

            &.current-lang:after
            {
                content:                    '';
                display:                    inline-block;
                width:                      100%;
                height:                     3px;
                position:                   absolute;
                bottom:                     0px;
                background-color:           $color-white;
            }
        }
    }
}










.banner__navs:after
{
    display:            block;
    line-height:        0;
    clear:              both;
    content:            '';
    width:              1px;
    height:             1px;
}

// top contact form
// {
//     display: inline-block;
//     float: right;
// }
.navbar--contact--top,
.navbar--language--top
{
    display:                inline-block;
    vertical-align:         top;
    float:                  right;

   
}
.navbar--contact--top__ul 
{
    display:                none;
    margin-top:             5px;
    margin-bottom:          0;

    @include breakpoint(M) {
        display:                block;
        // position:               absolute;
        top:                    0px;
        // background-color:       transparent;
    }

    .nav__item
    {
        background-color:       transparent;
        margin-bottom:          0;

        a
        {
            @extend %Copy;
            font-weight:            200;
            padding: 0;
            padding-right:          1em;
            padding-left:           1em;
            position:               relative;
            
            &:after
            {
                content:            '.';
                display:            block;
                position:           absolute;
                right:              -0.2em;
                top:                -0.2em;
            }

        }

        &:last-child a:after
        {
            display:            none;
        }
    }
    // { 
    //         background-color:           $color-white;
    //         a
    //         {
    //             color:                      $color-blue;
                
    //         }
        
    //     @include breakpoint(StoM) {
    //             .navbar--contact__title
    //             {
    //                 color:                      $color-headercopy;
    //             }
    //         //only for small screens, otherwise lets default menu
    //     }
    //     @include breakpoint(M) {
    //         background-color:       transparent;
            
    //         a
    //         {
    //             color:  $color-white;
    //         }
    //     }

    // }
}





// booking link
.booking-link
{
    background-color: $color-calltoaction;
}


