
//headers
.banner-container
{
    background-color:           $color-white;
    

    //to allow nav on mobile sufficient space
    min-height:                 40px;
    position:                   fixed;
    top:                        0;
    z-index:                    $z-foreground;

    @include breakpoint(M) 
    {
        padding-top:                5px;
        position:               relative;
    }
}

.banner
{
    // display: block;
    width: 100vw;

    background-color:           $color-header;
    color:                      $color-white;

    .navbar-brand
    {
        margin-left:            20px;
        color:                  $color-white;
        @extend %Intro;
        font-size:              24px;  
        vertical-align:         middle;  
        letter-spacing:         5px;

        @include breakpoint(M) 
        {
            
            margin-left:            0;
            font-size:              32px;
        }
    }
}


.logo-ish
{
    display: inline-block;
       @include breakpoint(M) {
        //content
        display:            block;
        width:              80%;
        margin:             0 auto;
      }
    // text-align:         center;
}

.banner .logo
{
    display: none;

    @include breakpoint(M ) 
    {
        display:                inline-block;
        margin-left:            18vw;
        width:                  130px;
        height:                 130px;
        margin-top:             10px;
        margin-bottom:             10px;
        vertical-align:         middle;
    }
}


.banner .suitcases
{
    display:                    none;
    // clear:                      both;

       @include breakpoint(M) 
       {
            vertical-align:             middle;
            display:                    inline-block;
            width:                      14vw;
            height:                     14vw;
            margin-left:                4vw;
            position: absolute;
      }
}