.homepage__sections
{
    @extend .copy;
}

//each vine
.homepage__vines
{
    font-size: 0; //stop margin gap
}
.homepage__vine
{
    display: inline-block;
}







.icon-bike,
.icon-map,
.icon-calendar,
.icon-cases,
.icon-crumpled,
.icon-facebook,
.icon-ithing,
.icon-krakowkit,
.icon-t,
.icon-zsloty,
{
    width: 150px;
    height: 150px;
}