//each vine
.homepage__vines
{
    font-size: 0; //stop margin gap
}
.homepage__vine
{
    display: inline-block;
}


//wee sections
.homepage__sections
{
    @extend %copy-box;
    
    @include breakpoint(M)
    {
        // display: flex;
        // align-items: flex-start;
    }
    
    // padding-left: 5px;
}

.homepage__section
{
   @include breakpoint(M) 
   {
        margin-left: -2px; //overcome magic spacing
        max-width: 33%;
        display: inline-block;
        // flex-grow: 1;
        vertical-align: top;
        @extend %copy-box;
        padding-right:            2vw;
        padding-left: 0;
        // display: flex;
        // margin: 0 auto;
        // padding: 1em;

  }
}








.icon-bike,
.icon-map,
.icon-calendar,
.icon-cases,
.icon-crumpled,
.icon-facebook,
.icon-ithing,
.icon-krakowkit,
.icon-t,
.icon-zsloty,
{
    width: 150px;
    height: 150px;
}