//each vine
.homepage__vines
{
    display: none;
    font-size: 0; //stop margin gap
    @include breakpoint(M) {
        display: block;
        padding-bottom: 5vw;
    }
}
.homepage__vine
{
    display: inline-block;
    width: 25%;

    img
    {
        width: 100%;
        height:auto;
        
    }
}


//wee sections
.homepage__sections
{
    @extend %copy-box;
    
    @include breakpoint(M)
    {
        // display: flex;
        // align-items: flex-start;
    }
    
    // padding-left: 5px;
}

.homepage__section
{
    text-align: center;
    
   @include breakpoint(M) 
   {
        text-align: left;
        margin-left: -2px; //overcome magic spacing
        max-width: 33%;
        display: inline-block;
        // flex-grow: 1;
        vertical-align: top;
        @extend %copy-box;
        padding-right:            2vw;
        padding-left: 0;
        // display: flex;
        // margin: 0 auto;
        // padding: 1em;

  }
}



.tripadvisor
{
    display: none;
       @include breakpoint(M) {
        display: inline-block;
      }
}
.tripadvisor,
.tripadvisor div div
{
    background-color: transparent !important; //override
}
.tripadvisor div
{
    width: auto;
    max-width: 100%;
}




.icon-bike,
.icon-map,
.icon-calendar,
.icon-cases,
.icon-crumpled,
.icon-facebook,
.icon-ithing,
.icon-krakowkit,
.icon-t,
.icon-zsloty,
{
    width: 150px;
    height: 150px;

    margin: 0 auto;

       @include breakpoint(M) {
        margin-left: 0;
      }
}