$barWidth : 200px;

.booking-bar
{
    display: none;
    vertical-align: top;
    @include breakpoint( M )
    {
        display: inline-block;
        width: $barWidth;
    }
}


.main
{
    margin-top: 40px;
    min-height: 120vh;
    @include breakpoint( M ) 
    {
        margin-top: 0;
        vertical-align: top;
        display: inline-block;
        width: calc( 100% - 205px );
        // margin-top: 0;
    }
}
