.container
{
    position: relative;
    // z-index: -1;
}
.content //smoothstate container
{
    margin: 0 auto;
    display: block;
    max-width: $site-max-width;
    text-align: right;
   
}

.fonz-box
{
     z-index: 201;
    position: relative;
}



$barWidth : 200px;

.booking-bar
{
    display: none;
    vertical-align: top;
    text-align: left;
    @include breakpoint( XM )
    {
        display: inline-block;
        // width: $barWidth;
        
    }
}


.main
{
    margin-top: 43px;
    min-height: 140vh;
    text-align: left;
    margin-left: -5px;

    @include breakpoint( XM ) 
    {
        margin-top: 0;
        vertical-align: top;
        display: inline-block;
        width:      75%;
        max-width:  60em;
        // margin-top: 0;
    }
}
