.content //smoothstate container
{
    margin: 0 auto;
    display: block;
    max-width: 1200px;
    text-align: right;
}


$barWidth : 200px;

.booking-bar
{
    display: none;
    vertical-align: top;
    text-align: left;
    @include breakpoint( M )
    {
        display: inline-block;
        // width: $barWidth;
        
    }
}


.main
{
    margin-top: 70px;
    min-height: 140vh;
    text-align: left;

    @include breakpoint( M ) 
    {
        margin-top: 0;
        vertical-align: top;
        display: inline-block;
        width:      75%;
        max-width:  60em;
        // margin-top: 0;
    }
}
