
//headers
.banner-container
{
    background-color:           $color-white;
    padding-top:                5px;

    //to allow nav on mobile sufficient space
    min-height:                 40px;
    position:                   fixed;
    top:                        0;
    z-index:                    $z-foreground;

}

.banner
{
    // display: block;
    width: 100vw;

    background-color:           $color-header;
    color:                      $color-white;

    .navbar-brand
    {
        margin-left:            70px;
        color:                  $color-white;
        @extend %Intro;
        font-size: 8vw;    
    }
}


.main
{
    margin-top: 40px;
}











//nav over the page positioning
.main-navigation
{
    position:               fixed;
    left:                   0;
    top:                    0;
    height:                 0;
    left:                   0;
    overflow:               visible;
    position:               relative;
    z-index:                $z-aboveground +1;
}

//basic nav hidden
.navbar 
{
  
  /*Collapsed */
    width:                  50%; 
    overflow:               hidden;
    position:               fixed;
    top:                    0;
    left:                   -50%;
    height:                 100%;
    transition:             all 0.3s ease;
    background-color:       $color-white;

    &.open 
    {
        width:              50%; 
        left:               0;
        z-index:            $z-aboveground;
    }
}


//mask overlay
.nav-mask
{
    display: none;
    width:          100vw;
    height:         100vh;
    position:       fixed;
    background-color: #000;
    top:            0;
    left:           0;
    z-index:        $z-hell;
    opacity:        0;

    &.open 
    {
        display: block;
        z-index:        $z-aboveground -1 ;
        opacity:        0.3;
        

    }
}














//menus
.nav
{
    padding-left: 0;
    margin-top: 0;
    // text-align: center;
}


.nav__item
{
    display:                block;
    list-style:             none;

    background-color:       $color-menu;
    margin-bottom:          5px;  

    a
    {
        display:            block;
        box-sizing:         border-box;
        color:              $color-white;
        @extend %Intro;
        width:              100%;
        padding-left:       30px;
        padding-right:      30px;
        padding-top:        10px;
        padding-bottom:     10px;
    }
}




// The toggler

.navbar-toggle 
{
    
    display:            inline-block;
    // width: 40px;
    // height: 40px;
    // line-height: 0px;
    box-sizing:         border-box;
    padding-top:        2px;
    padding-bottom:     2px;
    padding-left:       6px;
    padding-right:      6px;
    position:           relative;
    left:               1vw;
    margin-bottom:      0;
    margin-top:         20px;
    // position .: absolute;
    // top: 5px;
    // left: 5px;
}

.burger__bar
{
    width:              29px;
    display:            block;
    margin:             7px auto;
    // margin-bottom:      7px;
    height:             3px;
    border-radius:      3px;
    background-color:   $color-white;
}


