
.content h1,
.content h2,
.content h3,
.content table,
.content p,
{

    margin: 0 auto;
    max-width: 80vw;

    @include breakpoint(M) 
    {
        margin-right: auto;
        max-width: auto;
        margin-left: 30px;
        
    }
}






.content h1,
.content h2,
.content h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}


table
{
    border-spacing: 10px;
    border-collapse: separate;

    td, th {
    width: 100px;
}

    td
    {
        display: inline-block;
        padding: 5px;
        margin: 2px;
        margin-right: 0;

    }

    tr
    {
        display: block;
    }

    tr:nth-child(odd) td
    {
        background-color: #FFF;
    }
    tr:nth-child(even) td
    {
        background-color: #F3F3F4;
    }

    .highlight
    {
        color: $color-calltoaction;
        background-color: #FFF;
    }
}