.showcase
{
    box-sizing: border-box;
    font-size: 0;
    
       @include breakpoint(M) {
        max-height: 265px;
        // height: 19.9vw;
        overflow: hidden;
      }
}
.showcase__pic
{
    max-width: 100%;
    vertical-align: top;
}



.slider__container
{
    display: inline-block;
    width: 100%;
    @include breakpoint(M) {
        //content
        width:  50%;
    }
}
.slider
{
    vertical-align: top;
    font-size: 0;
    display: inline-block;
    // width: 50%;
    height: auto;
    width: 100%;

    display: block;
    margin: 0 auto;

    img 
    {
        width: 100vw;
        height: auto !important;
    }

       @include breakpoint(M) {
        // width: 50%;
      }

    &.wee-fish .slider__ul
    {

        display: inline-block;
        li
        {
            display: inline-block;
        }
    }
}

.showcase__pic
{
    display: none;
    width: 50%;
    // overflow: hidden;
       @include breakpoint(M) {
        display: inline-block;
      }
    img
    {
        width: 100%;
        // max-height: 100%;
    }
}

// .slider__ul
// {
//     padding-left: 0;
//     list-style-type: none;
// }