/*
    Travellers Color Variables!
 */

$color-white:               #fff;
$color-grey:                #A6A8AB;
$color-pagebg:              #E6E7E8;

$color-greenblue:              #00616A;
$color-menu:                #00323C;

$color-calltoaction:        #AD2C4F;

$color-headercopy:          #241F20;
$color-blue:                #008EF1;




/*
 Colors by use
 */

$color-sitebg:              $color-grey;
$color-header:              $color-greenblue;
$color-link:                $color-blue;