.icon-bike { background-image: url('png/bike.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-cases { background-image: url('png/cases.png'); background-repeat: no-repeat; }

.icon-crumpled { background-image: url('png/crumpled.png'); background-repeat: no-repeat; }

.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-iThing { background-image: url('png/iThing.png'); background-repeat: no-repeat; }

.icon-krakowkit { background-image: url('png/krakowkit.png'); background-repeat: no-repeat; }

.icon-now { background-image: url('png/now.png'); background-repeat: no-repeat; }

.icon-t { background-image: url('png/t.png'); background-repeat: no-repeat; }

.icon-zsloty { background-image: url('png/zsloty.png'); background-repeat: no-repeat; }

