.icon-approve3 { background-image: url('png/approve3.png'); background-repeat: no-repeat; }

.icon-arrow123 { background-image: url('png/arrow123.png'); background-repeat: no-repeat; }

.icon-arrow128 { background-image: url('png/arrow128.png'); background-repeat: no-repeat; }

.icon-arrow132 { background-image: url('png/arrow132.png'); background-repeat: no-repeat; }

.icon-arrow133 { background-image: url('png/arrow133.png'); background-repeat: no-repeat; }

.icon-arrow137 { background-image: url('png/arrow137.png'); background-repeat: no-repeat; }

.icon-arrow138 { background-image: url('png/arrow138.png'); background-repeat: no-repeat; }

.icon-black87 { background-image: url('png/black87.png'); background-repeat: no-repeat; }

.icon-cart4 { background-image: url('png/cart4.png'); background-repeat: no-repeat; }

.icon-chains { background-image: url('png/chains.png'); background-repeat: no-repeat; }

.icon-checked10 { background-image: url('png/checked10.png'); background-repeat: no-repeat; }

.icon-chevron12 { background-image: url('png/chevron12.png'); background-repeat: no-repeat; }

.icon-close15 { background-image: url('png/close15.png'); background-repeat: no-repeat; }

.icon-close16 { background-image: url('png/close16.png'); background-repeat: no-repeat; }

.icon-cloud43 { background-image: url('png/cloud43.png'); background-repeat: no-repeat; }

.icon-comment21 { background-image: url('png/comment21.png'); background-repeat: no-repeat; }

.icon-contacts3 { background-image: url('png/contacts3.png'); background-repeat: no-repeat; }

.icon-eye24 { background-image: url('png/eye24.png'); background-repeat: no-repeat; }

.icon-flat1 { background-image: url('png/flat1.png'); background-repeat: no-repeat; }

.icon-flat2 { background-image: url('png/flat2.png'); background-repeat: no-repeat; }

.icon-folder39 { background-image: url('png/folder39.png'); background-repeat: no-repeat; }

.icon-folder40 { background-image: url('png/folder40.png'); background-repeat: no-repeat; }

.icon-heart33 { background-image: url('png/heart33.png'); background-repeat: no-repeat; }

.icon-heart34 { background-image: url('png/heart34.png'); background-repeat: no-repeat; }

.icon-image33 { background-image: url('png/image33.png'); background-repeat: no-repeat; }

.icon-internet8 { background-image: url('png/internet8.png'); background-repeat: no-repeat; }

.icon-key22 { background-image: url('png/key22.png'); background-repeat: no-repeat; }

.icon-links3 { background-image: url('png/links3.png'); background-repeat: no-repeat; }

.icon-list20 { background-image: url('png/list20.png'); background-repeat: no-repeat; }

.icon-magnification2 { background-image: url('png/magnification2.png'); background-repeat: no-repeat; }

.icon-magnifier { background-image: url('png/magnifier.png'); background-repeat: no-repeat; }

.icon-mail18 { background-image: url('png/mail18.png'); background-repeat: no-repeat; }

.icon-map3 { background-image: url('png/map3.png'); background-repeat: no-repeat; }

.icon-mechanic2 { background-image: url('png/mechanic2.png'); background-repeat: no-repeat; }

.icon-menu6 { background-image: url('png/menu6.png'); background-repeat: no-repeat; }

.icon-microsoft4 { background-image: url('png/microsoft4.png'); background-repeat: no-repeat; }

.icon-nine1 { background-image: url('png/nine1.png'); background-repeat: no-repeat; }

.icon-phone23 { background-image: url('png/phone23.png'); background-repeat: no-repeat; }

.icon-picture3 { background-image: url('png/picture3.png'); background-repeat: no-repeat; }

.icon-planet5 { background-image: url('png/planet5.png'); background-repeat: no-repeat; }

.icon-pointer8 { background-image: url('png/pointer8.png'); background-repeat: no-repeat; }

.icon-refresh20 { background-image: url('png/refresh20.png'); background-repeat: no-repeat; }

.icon-refresh22 { background-image: url('png/refresh22.png'); background-repeat: no-repeat; }

.icon-refresh27 { background-image: url('png/refresh27.png'); background-repeat: no-repeat; }

.icon-right20 { background-image: url('png/right20.png'); background-repeat: no-repeat; }

.icon-shopping22 { background-image: url('png/shopping22.png'); background-repeat: no-repeat; }

.icon-smartphone6 { background-image: url('png/smartphone6.png'); background-repeat: no-repeat; }

.icon-speech9 { background-image: url('png/speech9.png'); background-repeat: no-repeat; }

.icon-tablet11 { background-image: url('png/tablet11.png'); background-repeat: no-repeat; }

.icon-tablet25 { background-image: url('png/tablet25.png'); background-repeat: no-repeat; }

.icon-thumb3 { background-image: url('png/thumb3.png'); background-repeat: no-repeat; }

.icon-thumbs15 { background-image: url('png/thumbs15.png'); background-repeat: no-repeat; }

.icon-tiles { background-image: url('png/tiles.png'); background-repeat: no-repeat; }

.icon-user21 { background-image: url('png/user21.png'); background-repeat: no-repeat; }

.icon-view6 { background-image: url('png/view6.png'); background-repeat: no-repeat; }

.icon-walk1 { background-image: url('png/walk1.png'); background-repeat: no-repeat; }

.icon-walk7 { background-image: url('png/walk7.png'); background-repeat: no-repeat; }

.icon-wheel4 { background-image: url('png/wheel4.png'); background-repeat: no-repeat; }

.icon-window16 { background-image: url('png/window16.png'); background-repeat: no-repeat; }

.icon-world8 { background-image: url('png/world8.png'); background-repeat: no-repeat; }

