.icon-bike { background-image: url('png/bike.png'); background-repeat: no-repeat; }

.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-crumpled map { background-image: url('png/crumpled map.png'); background-repeat: no-repeat; }

.icon-facebook tile { background-image: url('png/facebook tile.png'); background-repeat: no-repeat; }

.icon-iThing { background-image: url('png/iThing.png'); background-repeat: no-repeat; }

.icon-trunks { background-image: url('png/trunks.png'); background-repeat: no-repeat; }

.icon-window16 { background-image: url('png/window16.png'); background-repeat: no-repeat; }

.icon-world8 { background-image: url('png/world8.png'); background-repeat: no-repeat; }

